hr {
  color: #47ff4e;
  background-color: #47ff4e;
  margin: 5px 10px;
  border-style: solid;
}

body {
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #47ff4e;
}
body p {
  text-transform: none;
  font-variant: normal;
}

html {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #808782;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  min-height: 100%;
  width: 100%;
  background-color: #333745;
  border: 3px solid #47ff4e;
  border-radius: 30px;
}

.socials i {
  font-size: 30px;
}
.socials a,
.socials a:visited {
  color: #47ff4e;
}
.socials a:hover {
  color: #b8336a;
}

.logo-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.logo-array .logo-array-item {
  margin: 20px 5%;
}
.logo-array .logo-array-item i {
  font-size: 50px;
}
.logo-array .logo-array-item a,
.logo-array .logo-array-item a:visited {
  color: #b8336a;
}
.logo-array .logo-array-item a:hover {
  color: #ffba49;
}
.logo-array .logo-array-item .logo {
  margin: 0px;
}
.logo-array .logo-array-item .logo img {
  height: 50px;
}
.logo-array .logo-array-item .logo-description {
  margin-top: 5px;
}
.logo-array .logo-array-item .logo-description h3 {
  font-variant: inherit;
  margin-top: 0px;
}

.content-array {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-array .content-array-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.content-array .content-array-item hr {
  width: 80%;
}

.content-img {
  display: flex;
  align-content: center;
  justify-content: center;
}
.content-img img {
  max-width: 100%;
}

.nav-wrapper {
  align-items: center;
}
.nav-wrapper .socials {
  display: none;
}

nav {
  padding: 0px 10px;
}
nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: center;
}
nav li {
  list-style: none;
  width: 100px;
  height: 25px;
  margin: 5px;
}
nav li a,
nav li a:visited,
nav li a:hover {
  height: 100%;
  width: 100%;
  background-color: #47ff4e;
  display: block;
  text-decoration: underline;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #333745;
  text-align: center;
}
nav li a:hover {
  background-color: #b8336a;
}
nav li a.active {
  background-color: #ffba49;
}

@media screen and (min-width: 650px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .nav-wrapper .socials {
    display: block;
  }

  nav ul {
    justify-content: flex-start;
  }
}
main,
main.intro,
main.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p,
main.intro h1,
main.intro h2,
main.intro h3,
main.intro h4,
main.intro h5,
main.intro h6,
main.intro p,
main.content h1,
main.content h2,
main.content h3,
main.content h4,
main.content h5,
main.content h6,
main.content p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main.intro h1,
main.intro h2,
main.intro h3,
main.intro h4,
main.intro h5,
main.intro h6,
main.content h1,
main.content h2,
main.content h3,
main.content h4,
main.content h5,
main.content h6 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
main h1,
main.intro h1,
main.content h1 {
  font-size: 48px;
  margin-top: 1em;
}
main h2,
main.intro h2,
main.content h2 {
  font-size: 24px;
  margin-top: 2em;
}
main h3,
main.intro h3,
main.content h3 {
  font-size: 20px;
  margin-top: 1.5em;
}
main p,
main.intro p,
main.content p {
  font-size: 16px;
  max-width: 80ch;
  text-align: justify;
  margin-top: 0.5em;
}
main .content,
main.intro .content,
main.content .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
main .content section,
main.intro .content section,
main.content .content section {
  width: 100%;
}
main .content .description,
main.intro .content .description,
main.content .content .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .content hr,
main.intro .content hr,
main.content .content hr {
  margin-top: 2em;
}
main .content .content-header,
main.intro .content .content-header,
main.content .content .content-header {
  font-size: 16px;
}

.nav-array {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav-array .nav-array-item {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
.nav-array .nav-array-item .nav-btn {
  height: 30px;
}
.nav-array .nav-array-item .nav-btn a,
.nav-array .nav-array-item .nav-btn a:visited {
  line-height: 30px;
  height: 100%;
  width: 100%;
  background-color: #47ff4e;
  display: block;
  text-decoration: underline;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #333745;
  text-align: center;
}
.nav-array .nav-array-item .nav-btn a:hover {
  background-color: #b8336a;
}
.nav-array .nav-array-item .nav-img {
  display: none;
  margin-top: 10px;
  max-height: 250px;
  align-self: center;
}
.nav-array .nav-array-item .nav-extra {
  margin-top: 10px;
  display: none;
}

@media screen and (min-width: 650px) {
  .nav-array {
    flex-direction: row;
    width: 100%;
  }
  .nav-array .nav-array-item {
    width: 250px;
  }
  .nav-array .nav-array-item .nav-img {
    display: block;
  }
  .nav-array .nav-array-item .nav-extra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
footer .footer-container {
  min-height: 30px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 0px;
  font-size: 12px;
}

@media screen and (min-width: 650px) {
  .footer-container .socials {
    display: none;
  }
}
#about-me .intro h2,
#about-me .content h2 {
  margin-top: 0.5em;
}

#projects .description {
  text-align: justify;
}

.page-wrapper {
  min-height: calc(100vh - calc(23 * 2px));
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.page-wrapper main {
  flex-grow: 1;
}
.page-wrapper header,
.page-wrapper footer {
  flex-shrink: 0;
}

/*# sourceMappingURL=styles.css.map */
