/*
 Import Google fonts

 Headers & Markers:
 font-family: 'Source Code Pro', monospace;

 Body & descriptions:
 font-family: 'Source Sans Pro', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&family=Source+Sans+Pro&display=swap");
/* 
Holds global variables and controls master style overrides for elements (Typography, links etc.)

Componant styling: Textual,Graphical
*/
/*
Controls Page Layout
Ensuring the header and footer will always be at the top and bottom of the document,
The body will always span a minimum of the full screen height
*/
.page-wrapper {
  min-height: calc(100vh - calc(23 * 2px));
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.page-wrapper main {
  flex-grow: 1;
}
.page-wrapper header,
.page-wrapper footer {
  flex-shrink: 0;
}

hr {
  color: #47ff4e;
  margin: 5px 10px;
  border-style: solid;
}

body {
  font-family: "Source Code Pro", monospace;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #47ff4e;
}
body p {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: none;
  font-variant: normal;
  font-weight: normal;
}

a,
a:visited {
  color: #ffba49;
}

a:hover {
  color: #b8336a;
}

::selection {
  background: #b8336a;
  color: #333745;
}

/*
Controls the background size, colour and outline.

Componant styling: Graphical
*/
html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  width: 100%;
}

html {
  height: 100%;
  background-color: #808782;
}

body {
  min-height: 100%;
  background-color: #333745;
  border: 3px solid #47ff4e;
  border-radius: 30px;
}

/*
Controls and ensures the header bar remains responsive across all display sizes.
Will remain functional down to screen width of 150px.

Componant styling: Textual,Graphical
*/
.nav-wrapper {
  align-items: center;
}
.nav-wrapper .socials {
  display: none;
}

nav {
  padding: 0px 10px;
}
nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: center;
}
nav li {
  list-style: none;
  width: 100px;
  height: 25px;
  margin: 5px;
}
nav li a,
nav li a:visited,
nav li a:hover {
  height: 100%;
  width: 100%;
  background-color: #47ff4e;
  display: block;
  text-decoration: underline;
  font-family: "Source Code Pro", monospace;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #333745;
  text-align: center;
}
nav li a:hover {
  background-color: #b8336a;
}
nav li a.active {
  background-color: #ffba49;
}

/*
Media query enables display of socials on larger devices
and aligns nav buttons to the left.
*/
@media screen and (min-width: 650px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .nav-wrapper .socials {
    display: block;
  }

  nav ul {
    justify-content: flex-start;
  }
}
/*
Styles main body of document, similar function global, however avoids touching the header and footer elements entirely.
Go here for general font and graphical spacing overrides.

Componant styling: Textual,Graphical
*/
main,
main.intro,
main.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p,
main.intro h1,
main.intro h2,
main.intro h3,
main.intro h4,
main.intro h5,
main.intro h6,
main.intro p,
main.content h1,
main.content h2,
main.content h3,
main.content h4,
main.content h5,
main.content h6,
main.content p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main.intro h1,
main.intro h2,
main.intro h3,
main.intro h4,
main.intro h5,
main.intro h6,
main.content h1,
main.content h2,
main.content h3,
main.content h4,
main.content h5,
main.content h6 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
main h1,
main.intro h1,
main.content h1 {
  font-size: 48px;
  margin-top: 1em;
}
main h2,
main.intro h2,
main.content h2 {
  font-size: 24px;
  margin-top: 2em;
}
main h3,
main.intro h3,
main.content h3 {
  font-size: 16px;
  margin-top: 1.5em;
}
main p,
main.intro p,
main.content p {
  font-size: 16px;
  line-height: 1.4em;
  max-width: 80ch;
  text-align: justify;
  margin-top: 0.5em;
}
main .content,
main.intro .content,
main.content .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
main .content section,
main.intro .content section,
main.content .content section {
  width: 100%;
}
main .content .description,
main.intro .content .description,
main.content .content .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .content hr,
main.intro .content hr,
main.content .content hr {
  margin-top: 2em;
}
main .content .content-header,
main.intro .content .content-header,
main.content .content .content-header {
  font-size: 20px;
}

/*
Controls and ensures the footer bar remains responsive across all display sizes.
Will remain functional down to screen width of 110px, however is optimal above 260px.

Componant styling: Textual,Graphical
*/
footer .footer-container {
  min-height: 30px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 0px;
  font-size: 12px;
}

@media screen and (min-width: 650px) {
  .footer-container .socials {
    display: none;
  }
}
/*
Controls socials size and colour of socials links

Componant styling: Graphical
*/
.socials {
  /*Font awesome imported fonts use the i tag by default
  If font awesome icons are no longer used an alternative method will be required*/
}
.socials i {
  font-size: 30px;
}
.socials a,
.socials a:visited {
  color: #47ff4e;
}
.socials a:hover {
  color: #b8336a;
}

/*
Controls styling for array of logos, this is primarily seen in Skills and Hobbies sections, however is also used to array links in the project page.

Componant styling: Textual,Graphical
*/
.logo-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.logo-array .logo-array-item {
  margin: 20px 5%;
  /*i tag styled in the event font awesome is used to display icons e.g. links */
}
.logo-array .logo-array-item i {
  font-size: 50px;
}
.logo-array .logo-array-item a,
.logo-array .logo-array-item a:visited {
  color: #ffba49;
}
.logo-array .logo-array-item a:hover {
  color: #b8336a;
}
.logo-array .logo-array-item .logo {
  margin: 0px;
}
.logo-array .logo-array-item .logo img {
  height: 50px;
}
.logo-array .logo-array-item .logo-description {
  margin-top: 5px;
}
.logo-array .logo-array-item .logo-description h3 {
  font-variant: inherit;
  margin-top: 0px;
}

/*
Used to control more complex arrays containing two or more objects in each item.
As these arrays are typically used as navigation aids, the header is styled as a clickable button
and unless overridden other elements are hidden on a mobile device.

Breaks into 3 main componants:
1. Header button with clickable a tag
2. Image
3. Contextual infomration

This is used on both the projects page and the master blog page.

Componant styling: Textual,Graphical
*/
.nav-array {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav-array .nav-array-item {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  /*Styles header elements as buttons similar to nav bar*/
}
.nav-array .nav-array-item .nav-btn {
  height: 30px;
}
.nav-array .nav-array-item .nav-btn a,
.nav-array .nav-array-item .nav-btn a:visited {
  line-height: 30px;
  height: 100%;
  width: 100%;
  background-color: #47ff4e;
  display: block;
  text-decoration: underline;
  font-family: "Source Code Pro", monospace;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #333745;
  text-align: center;
}
.nav-array .nav-array-item .nav-btn a:hover {
  background-color: #b8336a;
}
.nav-array .nav-array-item .nav-img {
  display: none;
  margin-top: 10px;
  max-height: 250px;
  align-self: center;
  /*Ensure image does not overrun parent container*/
}
.nav-array .nav-array-item .nav-img img {
  max-height: 100%;
  max-width: 100%;
}
.nav-array .nav-array-item .nav-extra {
  margin-top: 10px;
  display: none;
}

/*
Media query enables display of image and contextual information at larger screen sizes
*/
@media screen and (min-width: 650px) {
  .nav-array {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }
  .nav-array .nav-array-item {
    width: 250px;
  }
  .nav-array .nav-array-item .nav-img {
    display: block;
  }
  .nav-array .nav-array-item .nav-img img {
    max-height: 250px;
    max-width: 250px;
  }
  .nav-array .nav-array-item .nav-extra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/*
Provides a baseline control for repeating elements flowing vertically down the page.
It is mostly overriden in projects.scss, and isn't used elsewhere. Some work could probably be done to refactor and remove this styling.

Componant styling: Graphical
*/
.content-array {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-array .content-array-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.content-array .content-array-item hr {
  width: 80%;
}

.content-img {
  display: flex;
  align-content: center;
  justify-content: center;
}
.content-img img {
  max-width: 100%;
}

/*
Specific overrides for the about-me page.
*/
#about-me .intro h2,
#about-me .content h2 {
  margin-top: 0.5em;
}
#about-me .intro .cv-link,
#about-me .content .cv-link {
  margin-top: 10px;
  width: 100px;
  height: 25px;
}
#about-me .intro .cv-link a, #about-me .intro .cv-link a:visited,
#about-me .content .cv-link a,
#about-me .content .cv-link a:visited {
  height: 100%;
  width: 100%;
  background-color: #47ff4e;
  display: block;
  text-decoration: underline;
  font-family: "Source Code Pro", monospace;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #333745;
  text-align: center;
  background-color: #ffba49;
}
#about-me .intro .cv-link a:hover,
#about-me .content .cv-link a:hover {
  background-color: #b8336a;
}

/*
Specific overrides for the contacts page
Primarily this is form formatting, if forms should appear elsewhere much of this could become a componant.

Componant styling: Textual,Graphical
*/
#contact .content {
  max-width: 750px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}
#contact .content .contact-form {
  max-width: 500px;
  margin-top: 2%;
  /*Add padding between fields*/
  /*Styles the currently selected input box to match theme*/
}
#contact .content .contact-form form {
  display: flex;
  flex-direction: column;
}
#contact .content .contact-form div {
  margin-top: 10px;
}
#contact .content .contact-form input,
#contact .content .contact-form textarea {
  border: none;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  color: #47ff4e;
  background-color: #333745;
  font-size: 14px;
}
#contact .content .contact-form textarea {
  min-height: 50px;
}
#contact .content .contact-form input:focus,
#contact .content .contact-form textarea:focus {
  outline: 1px solid #47ff4e;
}
#contact .content .contact-form button {
  display: inline-block;
  border: none;
  width: 100px;
  height: 25px;
  font-family: "Source Code Pro", monospace;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #333745;
  background-color: #ffba49;
}
#contact .content .contact-form button:hover {
  background-color: #b8336a;
}
#contact .content .contact-form .form-submit {
  align-self: flex-end;
}
@media screen and (min-width: 650px) {
  #contact .content {
    margin-top: 10%;
  }
  #contact .content .contact-form {
    margin-top: 10%;
  }
}

/*
Specific overrides for the projects page
Heavy use of grids were employed to ensure project display was responsive across devices, unfortunately it is very specific to the display of content on this page.

Componant styling: Textual,Graphical
*/
#projects {
  /*
  Establishes grid and arrays items
  Mobile display is quite simple and could have been achieved easily with flexbox
  Grid was chosen instead for simplicity in translation to larger screen sizes
  */
}
#projects .description {
  text-align: justify;
}
#projects .project {
  display: inline-grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-areas: "hr        " "project-h " "img       " "about     " "link-h    " "links     ";
  /*Selector for header*/
  /*Selector for tech header, hidden on mobile but included here to keep grid allocations together*/
  /*Selector for tech array*/
  /*Selector for link header*/
  /*Selector for link array*/
}
#projects .project hr {
  grid-area: hr;
  width: 100%;
}
#projects .project :nth-child(2) {
  grid-area: project-h;
}
#projects .project .content-img {
  align-self: flex-start;
  grid-area: img;
  margin: 20px 10px;
}
#projects .project .description {
  grid-area: about;
  align-self: flex-start;
}
#projects .project :nth-child(5) {
  grid-area: tech-h;
  align-self: flex-end;
  display: none;
}
#projects .project :nth-child(6) {
  grid-area: tech;
  align-self: flex-start;
  display: none;
}
#projects .project :nth-child(7) {
  grid-area: link-h;
  align-self: flex-end;
}
#projects .project :nth-child(8) {
  grid-area: links;
  align-self: flex-start;
}

/*Media query for tablet devices*/
@media screen and (min-width: 650px) {
  #projects .project {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-areas: "hr        hr        hr" "project-h project-h project-h" "img       .         about" "tech-h    tech-h    tech-h" "tech      tech      tech" "link-h    link-h    link-h" "links     links     links";
  }
  #projects .project :nth-child(5) {
    grid-area: tech-h;
    align-self: flex-end;
    display: block;
  }
  #projects .project :nth-child(6) {
    grid-area: tech;
    align-self: flex-start;
    display: flex;
  }
}
/*Media query for large screen devices*/
@media screen and (min-width: 1050px) {
  #projects .project {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-areas: "hr        hr        hr" "project-h project-h project-h" "img       .         about" "img       .         tech-h" "img       .         tech" "img       .         link-h" "img       .         links";
  }
  #projects .project :nth-child(5) {
    grid-area: tech-h;
    align-self: flex-end;
    display: block;
  }
  #projects .project :nth-child(6) {
    grid-area: tech;
    align-self: flex-start;
    display: flex;
  }
}
/*
Specific overrides for the blog index page
Includes overrides to nav-array.scss necessary to add datetime to the clickable links

Componant styling: Textual,Graphical
*/
#blog .content .nav-array {
  flex-direction: row;
}
#blog .content .nav-array :last-child hr {
  display: none;
}
#blog .content .nav-array .nav-array-item {
  align-items: center;
  width: 100%;
}
#blog .content .nav-array .nav-array-item h3 {
  font-size: 20px;
  line-height: 20px;
  margin-top: 0px;
}
#blog .content .nav-array .nav-array-item hr {
  width: 100%;
}
#blog .content .nav-array .nav-array-item .hover {
  height: 60px;
  width: 100%;
  max-width: 250px;
}
#blog .content .nav-array .nav-array-item .hover a,
#blog .content .nav-array .nav-array-item .hover a:visited {
  height: 100%;
  width: 100%;
  background-color: #47ff4e;
  display: block;
  text-decoration: underline;
  font-family: "Source Code Pro", monospace;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #333745;
  text-align: center;
}
#blog .content .nav-array .nav-array-item .hover a:hover {
  background-color: #b8336a;
}
#blog .content .nav-array .nav-array-item .hover a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#blog .content .nav-array .nav-array-item .nav-btn {
  height: auto;
  width: 100%;
}
#blog .content .nav-array .nav-array-item .nav-date {
  height: 15px;
  justify-self: flex-end;
  align-self: center;
  font-size: 0.8em;
  font-style: italic;
  font-variant: normal;
  text-align: center;
  text-decoration-style: none;
}
#blog .content .nav-array .nav-array-item .nav-img {
  height: auto;
  width: 250px;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#blog .content .nav-array .nav-array-item .nav-extra {
  display: flex;
}
@media screen and (min-width: 650px) {
  #blog .content .nav-array {
    justify-content: space-between;
  }
  #blog .content .nav-array .nav-array-item {
    width: 250px;
  }
  #blog .content .nav-array .nav-array-item hr {
    display: none;
  }
}

/*
Specific overrides for individual blog pages

Componant styling: Textual,Graphical
*/
#blog-page .intro h3 {
  margin-top: 1em;
  margin-bottom: 2em;
  font-weight: normal;
  font-variant: normal;
}
#blog-page .content img {
  max-width: 100%;
  max-height: 400px;
}
#blog-page .content p {
  text-align: left;
  margin-top: 1em;
}
@media screen and (min-width: 1100px) {
  #blog-page .content {
    max-width: 750px;
    display: block;
  }
  #blog-page .content img {
    max-width: 50%;
    float: left;
    margin: 1.5em;
  }
  #blog-page .content p {
    width: auto;
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
