hr {
  color: #47ff4e;
  margin: 5px 10px;
}

body {
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #47ff4e;
}
body p {
  text-transform: none;
  font-variant: normal;
}

html {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #808782;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  min-height: 100%;
  width: 100%;
  background-color: #333745;
  border: 3px solid #47ff4e;
  border-radius: 30px;
}

.socials i {
  font-size: 30px;
}
.socials a, .socials a:visited {
  color: #47ff4e;
}
.socials a:hover {
  color: #b8336a;
}

.nav-wrapper {
  align-items: center;
}
.nav-wrapper .socials {
  display: none;
}

nav {
  padding: 0px 10px;
}
nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: center;
}
nav li {
  list-style: none;
  width: 100px;
  height: 25px;
  margin: 5px;
}
nav li a,
nav li a:visited,
nav li a:hover {
  height: 100%;
  width: 100%;
  background-color: #47ff4e;
  display: block;
  text-decoration: underline;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  color: #333745;
  text-align: center;
}
nav li a:hover {
  background-color: #b8336a;
}
nav li a.active {
  background-color: #ffba49;
}

@media screen and (min-width: 650px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .nav-wrapper .socials {
    display: block;
  }

  nav ul {
    justify-content: flex-start;
  }
}
main, main.intro, main.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1, main h2, main h3, main h4, main h5, main h6, main p, main.intro h1, main.intro h2, main.intro h3, main.intro h4, main.intro h5, main.intro h6, main.intro p, main.content h1, main.content h2, main.content h3, main.content h4, main.content h5, main.content h6, main.content p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
main h1, main h2, main h3, main h4, main h5, main h6, main.intro h1, main.intro h2, main.intro h3, main.intro h4, main.intro h5, main.intro h6, main.content h1, main.content h2, main.content h3, main.content h4, main.content h5, main.content h6 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
main h1, main.intro h1, main.content h1 {
  font-size: 48px;
}
main h2, main.intro h2, main.content h2 {
  font-size: 24px;
}
main h3, main.intro h3, main.content h3 {
  font-size: 16px;
}
main p, main.intro p, main.content p {
  font-size: 16px;
  max-width: 80ch;
  text-align: center;
  display: inline-block;
}
main .content, main.intro .content, main.content .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .logo-array, main.intro .logo-array, main.content .logo-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
main .logo-array .logo-array-item, main.intro .logo-array .logo-array-item, main.content .logo-array .logo-array-item {
  margin: 20px;
}
main .logo, main.intro .logo, main.content .logo {
  margin: 0px;
}
main .logo img, main.intro .logo img, main.content .logo img {
  height: 50px;
}
main .logo-description, main.intro .logo-description, main.content .logo-description {
  margin-top: 5px;
}
main .logo-description h3, main.intro .logo-description h3, main.content .logo-description h3 {
  font-variant: inherit;
}

footer .footer-container {
  min-height: 30px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 0px;
  font-size: 12px;
}

@media screen and (min-width: 650px) {
  .footer-container .socials {
    display: none;
  }
}
.page-wrapper {
  min-height: calc(100vh - calc(23 * 2px));
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.page-wrapper main {
  flex-grow: 1;
}
.page-wrapper header,
.page-wrapper footer {
  flex-shrink: 0;
}

/*# sourceMappingURL=styles.css.map */
